Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonLtBelica/*
Content/ModSci_Engineer/*
Content/ModSci_EngiProps/*
Content/ModSciInteriors/*
Content/_Game/Assets/Fonts/*
Content/AnimStarterPack/*
Content/FPS_Weapon_Bundle/*
Content/A_Surface_Footstep/*
Content/KiteDemo/*
Content/Lighting/*
Content/Materials/*
Content/Meshes/*
Content/ParagonProps/*
Content/SampleMap/*
Content/Textures/*
Content/ParagonTwinblast/*
Content/_Game/Character/TwinBlast/*
Content/ParagonGrux/*
